.logo {
	float : left;
	padding-left : 2em;
}

.icon_sprite {
	float : right;
	padding-right : 78px;
}
	
.overflow {
	padding-top : 1em;
	height : 5em;
}

.responsive {
   height : auto;
   width : 100%;
   }

.border{
	border-color : gray gray;
	border-style : dashed;
	border-width : 1px 0 1px 0;
	padding : 9px;
	margin : 1px;
}

.div{
	padding : 10px;
}

.bold{
	color : green;
}

.span
{ 
	font-size : 14px;
}

.border_bottom{
	border-bottom : 1px dashed gray;
	padding : 10px;
	margin : 1px;
}

.column{
	font-size : 14px;
	height : 290px;
	border-bottom : 1px dashed gray;
	padding : 6px;
}

.left_col{
	border-right : 1px dashed gray;
	float : left;
	width : 30%;
	padding : 1em;
}

.right_col{

	float : left;
	width : 30%;
	padding : 1em;
}

.middle_col{
	border: 5px solid #BDB76B;
	background-color: #F5F5F5;
	padding : 1em;
	width : 30%;
  float : right;
}

.nav_link{  
	padding : 0;  
	margin :  0;
	padding-right :  40px;
	float : right;
	color : black;
}

.home_link{   
	padding-right : 20px;   
	padding-left : 20px;   
	border-right : 1px solid black;
	color : black;
	text-decoration : none;
}
.idea_link{   

	padding-right : 20px;   
	padding-left : 20px;   
	border-right : 1px solid black;
	color : black;
	text-decoration : none;
}

.about_link{   
	padding-right : 25px;   
	padding-left : 20px;
	color : black;
	text-decoration : none;
}

.right_align{
	float : right;
	padding-top : 4px;
	color : black;
	
}

.a_tag{
	padding-right : 10px;
	padding-left : 10px;
	text-decoration : none;
	color : black;
}

.list_style{
	width :  70%;
	text-align :  center;
	padding-bottom :  4px;
	list-style-image :  url('bullet.png');
	}

.paragraph{
	padding-top : -20px;
}

.colour{
	color : green;
}
