.logo {
   float:left;
   }

.icon_sprite {
   float:right;
   }

.responsive {
   height:auto;
   width:100%;
   }

.hlinetop {
  border-top: 1px dashed lightgray;
  height:300px;
   }

a
{
  text-decoration:none;
  color:black;
}

.hlinebottom {
  border-bottom: 1px dashed lightgray;
  padding: 5px;
   }

.column {
  float: left;
  width: 32.2%;
  padding: 5px;
}

.columnhl {
  float: left;
  width: 32.2%;
  padding: 5px;
}
.columnhl:hover{
border: 5px solid #99994d ;
background:#e5e5cc;
}

.row::after {
  clear: both;
  display: table;
	} 
