<h3>Cart Details</h3>
<table class="table table-bordered">
  <th>Dish Name</th>
  <th>Price</th>
  <th>Quantity</th>
  <% @cart_items.all.each do |dish| %>
  <tr>
    <td><%= dish.name%></td>
    <td><%= dish.price%></td>
    <td><%= dish.quantity%></td>
  </tr>
<% end %>
</table>
