<% if logged_in %>
  <h3><span class="align-middle">Welcome <%= current_user.name %>!!</span></h3>
<% end %>
<% Restaurant.all.in_groups_of(4, false) do |group| %>
  <div class="row">
    <% group.each do |restaurant| %>
    <div class="col-md-3">
      <div class="img-thumbnail">
        <%=link_to(image_tag(restaurant.avatar.url, :size => "240x180", :crop => :fill),restaurant_path(restaurant.id)) %>
        <h4 class="align-middle"><%= restaurant.name%></h4>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
