<h3>Dish Details</h3>
<table class="table table-bordered">
  <th>Dish Name</th>
  <th>Price</th>
  <% @dish.all.each do |dish| %>
    <tr>
      <td><%= dish.name%></td>
      <td><%= dish.price%></td>
    </tr>
  <% end %>
